<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>effectiveDay-注册</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <style>
        .user-page {
            width: 380px;
            text-align: center;
            margin: 30px auto;
            border: 2px double #e6e6e6;
            padding: 25px;
        }
        .form-control.rounded {
            border-radius: 100px !important;
        }
    </style>
</head>
<body class="user-page  pace-done">
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12" style="margin-bottom: 20px">
            <h3>effectiveDay</h3>
        </div>
        <form method="post" style="padding-top: 10px;">
            <div class="form-group">
                <input v-model="email" name="email" type="text"  aria-describedby="exampleInputEmail" placeholder="Email" class="form-control rounded" v-on:keyup="validateEmail" v-on:input="validateEmail" required="">
            </div>
            <div  v-show="validationMessage" style="color: red">Invalid Email!</div>
            <div class="form-group" style="margin-top: 15px;">
                <input v-model="password" name="password" type="text" aria-describedby="exampleInputEmail" placeholder="Password" class="form-control rounded" onkeyup="addParameters();" oninput="addParameters();" required="">
            </div>
            <button type="submit" v-on:click="login" class="btn btn-lg btn-success btn-raised btn-block" style="margin-top: 25px" disabled="">Sign In</button>
        </form>
        <hr style="margin-top:12px;">
        <div class="form-horizontal">
            <div class="clearfix">
                <div class="pull-left">
                    <p class="form-control-static">Want new account?</p>
                </div>
                <div class="pull-right"><a class="btn btn-outline btn-default" onclick="addParameters();">Sign Up</a></div>
            </div>
        </div>
    </div>
</div>
<script>
    var app = new Vue({
        el:".container-fluid",
        data: {
            email:"",
            password:"",
            validationMessage:false
        },
        methods:{
            validateEmail:function(event){
                var validEmailRegEx = /^[A-Z0-9_'%=+!`#~$*?^{}&|-]+([\.][A-Z0-9_'%=+!`#~$*?^{}&|-]+)*@[A-Z0-9-]+(\.[A-Z0-9-]+)+$/i
                var isEmailValid = validEmailRegEx.test(this.email);

                if (isEmailValid == false) {
                    this.validationMessage = true;
                }
                else{
                    this.validationMessage=false
                }
            },
            login:function(event){
                $.ajax({
                    url:"${pageContext.request.contextPath}/public/testupload",
                    type:"post",
                    data:{username:username},
                    success:function(data){
                        window.clearInterval(timer);
                        console.log("over..");
                    },
                    error:function(e){
                        alert("错误！！");
                        window.clearInterval(timer);
                    }
                });
            }
        }
    })
</script>
</body>
</html>